[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "==2.*"
wily = "==1.12.4"
pre-commit = "*"
autoflake = "*"
flake8 = "*"
epc = "*"
importmagic = "*"
python-language-server = {extras = ["all"],version = "*"}
ptvsd = ">=4.2"
pytest = "*"
pytest-asyncio = "*"
black = "==19.3b0"
py-spy = "*"

[packages]

[requires]
python_version = "3.8"
